table(width="100%" align="center")&attributes(tableAtt)
  tr
    td
      table&attributes(tableAtt)(width="100%")
        tr
          td(align="left" class="f15 f_bold") As the biomarker landscape expands:
        +vSpacer(12)
        tr  
          td(align="left" class="f25 orangelink f_bold") National clinical guidelines recommend biomarker testing using an expanded panel in advanced* NSCLC<sup class="sup osup">1,2</sup>
table(width="100%" align="center")&attributes(tableAtt)
  +vSpacer(25)
  tr
    td(valign="top" width="" style="padding-right: 40px" class="mobile-hide")
      table&attributes(tableAtt)(width="")
        tr
          td(align="center" class="f15") 
            img(src=img_path+"circle.png" alt="Ellipse" width="50")
        +vSpacer(15)    
        tr
          td(align="left" class="f12") <a href="https://www.nccn.org/professionals/physician_gls/default.aspx" class="f_bold orangelink" target="_blank">NCCN Clinical Practice Guidelines in Oncology </a><a href="https://www.nccn.org/professionals/physician_gls/default.aspx" class="f_bold orangelink decnone" style="text-decoration:none;" target="_blank"><span class="orangelink" style="text-decoration:none;">(</span></a><a href="https://www.nccn.org/professionals/physician_gls/default.aspx" class="f_bold orangelink" style="text-decoration:underline;" target="_blank">NCCN Guidelines</a><a href="https://www.nccn.org/professionals/physician_gls/default.aspx" class="f_bold orangelink decnone" style="text-decoration:none;" target="_blank"><sup class="sup osup orangelink">®</sup></a><a href="https://www.nccn.org/professionals/physician_gls/default.aspx" class="f_bold orangelink decnone" style="text-decoration:none;" target="_blank"><span class="orangelink" style="text-decoration:none;">)</span></a> recommend <span class="orangelink f_bold">molecular testing at diagnosis</span> for eligible patients with advanced* NSCLC via a broad, panel-based approach<sup class="sup osup">3†‡§</sup>
    +hSpacer(40)
    td(valign="top" width="250" class="mobile-hide")
      table&attributes(tableAtt)(width="250")
        tr
          td(align="center" class="f15")
            img(src=img_path+"circle2.png" alt="Ellipse" width="50")
        +vSpacer(15)    
        tr
          td(align="left" class="f12") <a href="https://www.cap.org/protocols-and-guidelines/current-cap-guidelines" class="f_bold orangelink" target="_blank" >CAP/IASLC/AMP</a> <span class="orangelink">and</span> <a href="https://www.asco.org/research-guidelines/quality-guidelines/guidelines/thoracic-cancer" class="f_bold orangelink" target="_blank">ASCO Guidelines</a> <span class="orangelink f_bold">recommend testing for both actionable and emerging biomarkers (including <em>KRAS</em>)</span>  utilizing either a comprehensive panel or targeted testing<sup class="sup osup">1,2</sup>
        +vSpacer(14)
        tr
          td
            table&attributes(tableAtt)
              tr
                td(valign="top")
                  font(class="bullet") •
                +hSpacer(3)
                td(class="f12") CAP/IASLC/AMP Guidelines also state that single-gene <em>KRAS</em> testing may be offered in addition to <em>EGFR, ALK,</em> and <em>ROS1,</em> to exclude patients from further testing<sup class="sup osup">2</sup>
  <!--[if !mso]><!-->
  tr
    td(valign="top" align="center" width="100%" style="display:none;" class="mobile-show" )
      table&attributes(tableAtt)(width="100%")
        tr
          td(align="center" class="f15") 
            img(src=img_path+"circle.png" alt="Ellipse" width="50")
        +vSpacer(10)    
        tr
          td(align="left" class="f12") <a href="https://www.nccn.org/professionals/physician_gls/default.aspx" class="f_bold orangelink" target="_blank">NCCN Clinical Practice Guidelines in Oncology </a><a href="https://www.nccn.org/professionals/physician_gls/default.aspx" class="f_bold orangelink decnone" style="text-decoration:none;" target="_blank"><span class="orangelink" style="text-decoration:none;">(</span></a><a href="https://www.nccn.org/professionals/physician_gls/default.aspx" class="f_bold orangelink" style="text-decoration:underline;" target="_blank">NCCN Guidelines</a><a href="https://www.nccn.org/professionals/physician_gls/default.aspx" class="f_bold orangelink decnone" style="text-decoration:none;" target="_blank"><sup class="sup osup orangelink">®</sup></a><a href="https://www.nccn.org/professionals/physician_gls/default.aspx" class="f_bold orangelink decnone" style="text-decoration:none;" target="_blank"><span class="orangelink" style="text-decoration:none;">)</span></a> recommend <span class="orangelink f_bold">molecular testing at diagnosis</span> for eligible patients with advanced* NSCLC via a broad, panel-based approach<sup class="sup osup">3†‡§</sup>
    +hSpacer(40)
  +vSpacer(12)
  tr  
    td(valign="top" align="center" width="100%" class="mobile-show" style="display:none;")
      table&attributes(tableAtt)(width="100%")
        tr
          td(align="center" class="f15")
            img(src=img_path+"circle2.png" alt="Ellipse" width="50")
        +vSpacer(10)    
        tr
          td(align="left" class="f12") <a href="https://www.cap.org/protocols-and-guidelines/current-cap-guidelines" class="f_bold orangelink" target="_blank" >CAP/IASLC/AMP</a> <span class="orangelink">and</span> <a href="https://www.asco.org/research-guidelines/quality-guidelines/guidelines/thoracic-cancer" class="f_bold orangelink" target="_blank" >ASCO Guidelines</a> <span class="orangelink f_bold">recommend testing for both actionable and emerging biomarkers (including <em>KRAS</em>)</span>  utilizing either a comprehensive panel or targeted testing<sup class="sup osup">1,2</sup>
        +vSpacer(10)
        tr
          td
            table&attributes(tableAtt)
              tr
                td(valign="top")
                  font(class="bullet") •
                +hSpacer(3)
                td(class="f12") CAP/IASLC/AMP Guidelines also state that single-gene <em>KRAS</em> testing may be offered in addition to <em>EGFR, ALK,</em> and <em>ROS1,</em> to exclude patients from further testing<sup class="sup osup">2</sup>       
  <!--<![endif]-->                
  +vSpacer(15)