table(width="100%" align="center")&attributes(tableAtt)
  tr
    td
      table&attributes(tableAtt)(width="100%")
        tr  
          td(align="left" class="f23 orangelink f_bold") <i>KRAS G12C</i> can be detected using common molecular testing methods like NGS and PCR<sup class="sup osup">1</sup>
        +vSpacer(18)
        tr
          td(align="left" class="f17 f_bold" style="color:#000000") <i>KRAS G12C</i> is the most prevalent emerging biomarker in NSCLC<sup class="sup osup">2,3</sup>
table(width="100%" align="center")&attributes(tableAtt)
  +vSpacer(18)
  tr
    td(valign="top" width="" style="padding-right: 32px" class="mobile-hide")
      table&attributes(tableAtt)(width="")
        tr
          td(align="center" class="f15") 
            img(src=img_path+"circle.png" alt="Ellipse" width="50")
        +vSpacer(15)    
        tr
          td(align="left" class="f12") <i>KRAS G12C</i> is already included in most NGS panels and can also be detected by currently available PCR and Sanger sequencing methods<sup class="sup osup">1,4-6</sup>
        +vSpacer(15)    
        tr
          td
            table&attributes(tableAtt)
              tr
                td(valign="top")
                  font(class="bullet") •
                +hSpacer(3)
                td(class="f12") Consider the benefits of comprehensive genomic profiling, including cost effectiveness, tissue conservation (avoiding rebiopsy), and turnaround time vs consecutive single-gene tests<sup class="sup osup">7</sup>
    +hSpacer(40)
    td(valign="top" width="250" class="mobile-hide")
      table&attributes(tableAtt)(width="250")
        tr
          td(align="center" class="f15")
            img(src=img_path+"circle2.png" alt="Ellipse" width="50")
        +vSpacer(15)    
        tr
          td(align="left" class="f12") <i>KRAS G12C</i> can be detected in both tissue <b>(“gold standard”)</b> and liquid biopsy specimens<sup class="sup osup">8</sup>
        +vSpacer(14)
        tr
          td
            table&attributes(tableAtt)
              tr
                td(valign="top")
                  font(class="bullet") •
                +hSpacer(3)
                td(class="f12") <span class="bluecolor f_bold">Up to 25% of patients can be ineligible for rebiopsy.</span> If tissue biopsy isn’t an option for your patient, liquid biopsy may be an alternative<sup class="sup osup">9</sup>
  <!--[if !mso]><!-->
  tr
    td(valign="top" align="center" width="100%" style="display:none;" class="mobile-show" )
      table&attributes(tableAtt)(width="100%")
        tr
          td(align="center" class="f15 adpad3") 
            img(src=img_path+"circle.png" alt="Ellipse" width="50")
        +vSpacer(10)    
        tr
          td(align="left" class="f12") <i>KRAS G12C</i> is already included in most NGS panels and can also be detected by currently available PCR and Sanger sequencing methods<sup class="sup osup">1,4-6</sup>
        +vSpacer(10)
        tr
          td
            table&attributes(tableAtt)
              tr
                td(valign="top")
                  font(class="bullet") •
                +hSpacer(3)
                td(class="f12") Consider the benefits of comprehensive genomic profiling, including cost effectiveness, tissue conservation (avoiding rebiopsy), and turnaround time vs consecutive single-gene tests<sup class="sup osup">7</sup>
    +hSpacer(40)
  +vSpacer(12)
  tr  
    td(valign="top" align="center" width="100%" class="mobile-show" style="display:none;")
      table&attributes(tableAtt)(width="100%")
        tr
          td(align="center" class="f15 adpad4")
            img(src=img_path+"circle2.png" alt="Ellipse" width="50")
        +vSpacer(10)    
        tr
          td(align="left" class="f12") <i>KRAS G12C</i> can be detected in both tissue <b>(“gold standard”)</b> and liquid biopsy specimens<sup class="sup osup">8</sup>
        +vSpacer(10)
        tr
          td
            table&attributes(tableAtt)
              tr
                td(valign="top")
                  font(class="bullet") •
                +hSpacer(3)
                td(class="f12") <span class="bluecolor f_bold">Up to 25% of patients can be ineligible for rebiopsy.</span> If tissue biopsy isn’t an option for your patient, liquid biopsy may be an alternative<sup class="sup osup">9</sup>       
  <!--<![endif]-->                
  +vSpacer(15)