table(width=max_w align="center" class="mobile-table" bgcolor="#ffffff")&attributes(tableAtt)
  +vSpacer(20)
  tr
    td
      table&attributes(tableAtt)(width="100%")
        tr
          +hSpacer(23)
          td
            table&attributes(tableAtt)(width="100%")
              tr
                td(align="right" class="acenter")
                  font(class="preheader").
                   If you are having trouble viewing this email, #[a(href="https://hcpconnects#.com/pub/sf/FormLink?_ri_=[VARIABLE]" target="_blank") click here]<span class="orangelink">.</span>
          +hSpacer(23)
  +vSpacer(20)
